/* EditProfile.module.css */
/* 프로필 수정 페이지 입니다.(작업자: 안민주) */

/* EditProfile.module.css */

@font-face {
    font-family: "Cafe";
    font-style: normal;
    font-weight: normal;
    src: url("../../../public/fonts/Cafe24Moyamoya-Face-v1.0.ttf");
}


.Main {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    overflow-x: hidden;
    align-items: center;
    background-color: white;
}

.MainContainer{
    /* border: 2px solid green; */
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: auto;
    padding: 10px;
    background-color: white;
}

.NicknameContainer,
.EmailContainer,
.CurrentPasswordContainer,
.NewPasswordContainer,
.ConfirmPasswordContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-bottom: 10px;  */
  /* border: 2px solid blue; */
  width: 100%;
  height: 13vh;
}

.Nickname,
.Email,
.CurrentPassword,
.NewPassword,
.ConfirmPassword,
.UserNickname,
.UserEmail,
.UserCurrentPassword,
.UserNewPassword,
.UserConfirmPassword {
    margin-right: 1rem; 
}

.Nickname,
.Email{
    font-weight: 700;
    width : 15vw;
    /* border:2px solid red; */
    padding: 0.5vh;
    height: 5vh;
    display: flex;
    align-items: center;
}

.NewPassword,
.ConfirmPassword{
    font-weight: 700;
    width : 15vw;
    /* border:2px solid red; */
    padding: 0.5vh;
    height: 8vh;
    display: flex;
    /* align-items: center; */
}

.CurrentPassword{
    font-weight: 700;
    width : 15vw;
    /* border:2px solid red; */
    padding: 0.5vh;
    height: 13vh;
    display: flex;
}

.UserNickname,
.UserCurrentPassword{
    width : 49vw;
    height: 5vh;
    border-radius: 5px;
    border:1px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0.5vh 0rem 0.5vh 1vw;
    position: relative;
}

.UserEmail{
    width : 49vw;
    height: 5vh;
    border-radius: 5px;
    border:1px solid black;
    background-color: rgb(180, 180, 180);
    display: flex;
    align-items: center;
    padding: 0.5vh 0rem 0.5vh 1vw;
    position: relative;
}

.UserNewPassword{
    width : 49vw;
    height: 5vh;
    border-radius: 5px;
    border:1px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0.5vh 0rem 0.5vh 1vw;
    position: relative;
}

.UserNicknameContainer {
    position: relative;
    display: flex;
    /* border:2px solid rgb(250, 0, 0); */
}

.UserNicknameMSG {
    position: absolute;
    bottom: -2.5rem;
    left: 0;
    color: red;
    font-size: 14px;
    /* border: 1px solid blue; */
}

/* .UserCurrentPasswordcontainer{
    display: flex;
    flex-direction: column; 
    border: 1px solid blue;
} */

.UserNewPasswordContainer{
    display: flex;
    flex-direction: column; 
    height: 10vh;
    /* border: 1px solid red; */
}

.ConfirmUserPasswordContainer{
    display: flex;
    flex-direction: column; 
    /* border: 1px solid blue; */
    height: 10vh;
}


/* .UserCurrentPasswordMSG{
    position: absolute;
    bottom: -2.5rem;
    left: 0;
    color: red;
    font-size: 14px;
} */

.UserNewPasswordMSG{
    position: relative;
    left: 0;
    color: red;
    font-size: 14px;
    margin: 0;
}

.UserConfirmPassword {
    width: 49vw;
    height: 5vh;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0.5vh 0rem 0.5vh 1vw;
    position: relative;
}

.UserConfirmPasswordMSG{
    /* position: absolute; */
    position: relative;
    /* bottom: -1.5rem; */
    left: 0;
    color: red;
    font-size: 14px;
    margin: 0;
}

.ConfirmCurrentPasswordContainer {
    display: flex;
    flex-direction: column; 
}

.ConfirmCurrentPasswordButton{
    border: 1px solid black;
    color: black;
    background-color: white(0, 130, 36, 1);
    width : 130px;
    height : 40px;
    font-size: 18px;
    cursor: pointer; 
    border-radius: 5px;
    margin : 0.5rem 0.5rem 0.5rem 0;
}


.EditButtons{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid orange; */
    height: 70px;
    width : 95%;
    margin: 50px auto 0px;
    justify-content: right;
}

.EditChangeButton{
    border: 1px solid rgb(134, 182, 246);
    color: white;
    background-color: rgb(134, 182, 246);
    width : 160px;
    height : 50px;
    font-size: 18px;
    cursor: pointer; 
    border-radius: 5px;
    /* justify-content: center; */
}

.DisabledButton {
    /* background-color: gray; */
    cursor: not-allowed; /* 선택적으로 커서를 변경할 수 있음 */
}