.wrapper {
  display: block;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
  background-color: white;
}
.wrapper .container {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  width: 65%;
  gap: 1rem;
  /* border: 2px solid green; */
}
.container h1 {
  text-align: center;
  margin: 1rem auto;
  width: 100%;
}
.posts {
  display: flex;
  flex-direction: column;
  /* border: 1px solid pink; */
  /* height: 90vh; */
  min-height: 80vh;
}
.post {
  border-bottom: 1px solid gray;
  margin: 0 1rem;
  padding: 1rem;
  font-size: large;
  /* height: 5px; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* margin-left: 5rem; */
  margin-top: 1rem;
  margin: 0 auto;
  > * {
    cursor: pointer;
  }
  li {
    list-style-type: none;
  }
}

.pagination__link {
  transition: all 0.25s;
  padding: 0.2rem 0.6rem;
  border-radius: 0.3rem;
  color: #86b6f6;
}

.pagination__link__active {
  background-color: #86b6f6;
  color: white;
}
.btnCon button {
  width: 100px;
  margin-right: 2rem;
  /* margin-left: auto; */
  /* border: 1px solid black; */
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: large;
  font-weight: 700;
}
.btnCon .cancelBtn {
  background-color: white;
  color: black;
}
.btnCon .postBtn {
  background-color: #86b6f6;
  color: white;
}
.btnCon .onBtn {
  background-color: white;
  color: #86b6f6;
}
.btnCon .offBtn {
  background-color: white;
  color: red;
}
.under {
  /* border: 1px solid blue; */
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.box1 {
  flex: 1;
  flex-basis: 90%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.box1 .box1_id {
  flex-basis: 7%;
  width: 40px;
  text-align: center;
}
.box1 .box1_title {
  flex-basis: 80%;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid blue; */
}
.box2 {
  flex-basis: 10%;
  text-align: center;
  /* border: 1px solid blue; */
}
.box1_ {
  flex-basis: 90%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-weight: 700;
}
.box1_ .box1_id_ {
  flex-basis: 7%;
  width: 40px;
  text-align: center;
}
.box1_ .box1_title_ {
  flex-basis: 80%;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid blue; */
}
.box2_ {
  flex-basis: 10%;
  text-align: center;
  /* border: 1px solid blue; */
  font-weight: 700;
}
.box {
  /* height: 100%; */
  /* border: 1px solid blue; */
  min-height: 100vh;
}
.header {
  /* border: 1px solid blue; */
  /* margin: 0 auto; */
  width: 100%;
}
.btnCon {
  /* border: 1px solid gray; */
  float: right;
}
.footer {
  margin-top: auto;
  flex-shrink: 0;
}
