/* * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
} */

main {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
  background-color: white;
}

/* 배너 이미지 */
.bannerImage {
  position: relative;
  height: 20vh;
  width: 100vw;
  display: flex;
}

/* 메인 섹션 */
.mainContainer {
  /* background-color: orange; */
  border: 1px solid black;
  height: 100vh;
  width: 100vw;
  position: relative;
  flex-direction: column;
}

.todoAndNewSection {
  display: flex;
  height: 25vh;
}

.todoList {
  /* background-color: aqua; */
  border: 1px solid black;
  width: 20vw;
  min-height: 1vh;
  overflow-x: hidden;
}

.newPost {
  /* background-color: blueviolet; */
  border: 1px solid black;
  width: 80vw;
  min-height: 1vh;
  text-align: right;
}
