.wrapper {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
  background-color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  /* background-color: pink; */
  width: 65%;
  margin: 0 auto;
  gap: 1rem;
  /* position: relative; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.title {
  width: 100%;
  height: 120px;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
}
.title h2 {
  margin: 0 2rem;
}
.title input {
  /* width: 95%; */
  height: 2rem;
  margin: 0 auto;
  margin: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.5rem;
}
.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 1070px) {
    flex-direction: column;
  }
}
.inputs {
  flex-basis: 40%;
}
.field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
.field input {
  height: 1rem;
  width: 60%;
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.5rem;
}
.map {
  /* position: relative; */
  /* margin-top: 0.5rem; */
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
}
.map input {
  width: 300px;
  margin-right: 1rem;
  margin: 0 auto;
  /* margin-top: 1rem; */
  border-radius: 5px;
  border: 1px solid black;
}
.search {
  display: flex;
  flex-direction: row;
  /* border: 1px solid gray; */
  width: 300px;
  margin-right: 1rem;
  margin: 0 auto;
  /* margin-top: 1rem; */
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;

  background-color: white;
}
.search input {
  margin: 0 auto;
  /* border: 1px solid black; */
  border: none;
  padding: 0.5rem;
}
.search .icon {
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  margin-left: 0.5rem;
}
.info h2 {
  margin: 0 2rem;
}
.info h4 {
  margin: 1rem;
  width: 80px;
}
.comment {
  /* position: relative; */
  width: 100%;
  height: 200px;
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comment h2 {
  margin: 0 2rem;
}
.comment textarea {
  /* width: 95%; */
  height: 100px;
  margin: 0rem auto;
  border-radius: 5px;
  border: 1px solid black;
  margin: 1rem 2rem;
  padding: 0.5rem;
}
.btnCon {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-end;
  position: relative;
  margin-right: 1.5rem;
  /* margin-top: 1rem; */
  /* border: 1px solid orange; */
  @media screen and (max-width: 1070px) {
    justify-content: center;
    margin-right: 0;
  }
}
.btnCon button {
  margin-right: 0.5rem;
  /* border: 1px solid black; */
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: large;
  font-weight: 700;
}
.btnCon .cancelBtn {
  background-color: white;
  color: black;
}
.btnCon .postBtn {
  background-color: green;
  color: white;
}
