.wrapper {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
  background-color: white;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  /* justify-content: center; */
  align-items: center;
  /* border: 1px solid red; */
  width: 65%;
  margin: 0 auto;
  height: 100vh;
  /* gap: 1rem; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.container h1 {
  text-align: center;
  /* margin-right: 2rem; */
}
.completed {
  color: red;
}
.inputTab {
  /* border: 1px solid blue; */
  justify-content: center;
  display: flex;
  gap: 1rem;
  margin: 1rem auto;
  width: 65%;
}
.todoInput {
  padding: 0.5rem;
  border-radius: 5px;
  width: 500px;
}
.orderInput {
  padding: 0.5rem;
  border-radius: 5px;
  width: 50px;
}
.inputTab button {
  margin-right: 0.5rem;
  /* border: 1px solid black; */
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: large;
  font-weight: 700;

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  gap: 0.5rem;
  @media screen and (max-width: 1070px) {
    margin-right: 0rem;
  }
}
.inputTab .submitBtn {
  margin-right: 1rem;
  background-color: green;
  color: white;
  @media screen and (max-width: 1070px) {
    margin-right: 0rem;
  }
}
.btnCon button {
  /* margin-right: 0.5rem; */
  /* border: 1px solid black; */
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: large;
  font-weight: 700;

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  gap: 0.5rem;
  @media screen and (max-width: 1070px) {
    margin-right: 0rem;
  }
}
.btnCon .deleteBtn {
  /* margin-right: 2rem; */
  background-color: red;
  color: white;
  @media screen and (max-width: 1070px) {
    margin-right: 0rem;
  }
}
.btnCon .editBtn {
  background-color: gray;
  color: black;
  @media screen and (max-width: 1070px) {
    margin-right: 0rem;
  }
}
ul {
  margin: 0;
  padding: 0;
}
.list {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 65%;
  /* height: 50px; */
  gap: 1rem;
  margin: 0;
}
.list li {
  /* border: 1px solid black; */
  width: 100%;
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: 1rem 0.5rem;
  margin: 0 auto;
  text-align: center;

  /* width: 500px; */
}
.btnCon {
  display: flex;
  gap: 0.5rem;
}
.paginate {
  /* border: 1px solid red; */
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* margin-left: 5rem; */
  margin-top: 1rem;

  > * {
    cursor: pointer;
  }
  li {
    list-style-type: none;
  }
}

.pagination__link {
  transition: all 0.25s;
  padding: 0.2rem 0.6rem;
  border-radius: 0.3rem;
}

.pagination__link__active {
  background-color: green;
  color: white;
}
.box {
  display: flex;
  gap: 0.5rem;
}
.box .order {
  padding-right: 0.5rem;
  border-right: 2px solid gray;
}
.box .title {
  /* margin-left: 0.5rem; */
}
