.wrapper {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
  background-color: white;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  /* justify-content: center; */
  align-items: center;
  /* border: 1px solid red; */
  width: 65%;
  margin: 0 auto;
  height: 100vh;
  /* gap: 1rem; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.container h1 {
  text-align: center;
  /* margin-right: 2rem; */
}
.completed {
  color: red;
}
.inputTab {
  /* border-bottom: 2px solid gray; */
  justify-content: center;
  /* align-items: center; */
  display: flex;
  gap: 1rem;
  margin: 1rem auto;
  /* margin-right: 0.5rem; */
  width: 75%;
  /* border: 1px solid pink; */
}
.inputTab input {
  padding: 1rem;
}
.todoInput {
  padding: 1.5rem;
  margin: 0 auto;
  border-radius: 5px;
  width: 90%;
}
.orderInput {
  padding: 1rem;
  border-radius: 5px;
  width: 10%;
}
.inputTab button {
  /* margin-right: 0.5rem; */
  /* border: 1px solid black; */
  /* padding: 0.3rem 0.2rem; */
  border-radius: 5px;
  /* font-size: large; */
  /* font-weight: 700; */
  /* font-size: small; */
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 150px;
  align-items: center;
  gap: 0.5rem;
  @media screen and (max-width: 1070px) {
    margin-right: 0rem;
  }
}
.inputTab .submitBtn {
  /* margin-right: 1rem; */
  background-color: #86b6f6;
  color: white;
  @media screen and (max-width: 1070px) {
    margin-right: 0rem;
  }
}
.inputTab .deleteBtn {
  background-color: red;
  color: white;
}
button {
  /* margin-right: 0.5rem; */
  /* border: 1px solid black; */
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: large;
  font-weight: 700;

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  gap: 0.5rem;
  @media screen and (max-width: 1070px) {
    margin-right: 0rem;
  }
}
.btnCon .deleteBtn {
  /* margin-right: 2rem; */
  background-color: white;
  color: gray;
  @media screen and (max-width: 1070px) {
    margin-right: 0rem;
  }
}
.btnCon .editBtn {
  background-color: white;
  color: #86b6f6;
  @media screen and (max-width: 1070px) {
    margin-right: 0rem;
  }
}
ul {
  margin: 0;
  padding: 0;
}
.list {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 75%;
  min-height: 50vh;
  gap: 1rem;

  margin: 0 1rem;
}
.list li {
  /* border: 1px solid black; */
  /* width: 100%; */
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  /* margin: 0 auto; */
  /* text-align: center; */

  /* width: 500px; */
}
.btnCon {
  display: flex;
  gap: 0.5rem;
}
.under {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.paginate {
  /* border: 1px solid red; */
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* margin-left: 5rem; */
  margin-top: 1rem;
  color: #86b6f6;
  > * {
    cursor: pointer;
  }
  li {
    list-style-type: none;
  }
}

.pagination__link {
  transition: all 0.25s;
  padding: 0.2rem 0.6rem;
  color: #86b6f6;
  border-radius: 0.3rem;
}

.pagination__link__active {
  background-color: #86b6f6;
  color: white;
}
.box {
  display: flex;
  gap: 0.5rem;
}
.box .order {
  padding-right: 0.5rem;
  border-right: 2px solid gray;
}
.box .title {
  /* margin-left: 0.5rem; */
}
.header {
  /* border: 1px solid orange; */
  width: 65%;
}
.header button {
  float: right;
  background-color: white;
  color: red;
}
