.App {
  text-align: center;
  font-family: sans-serif;
}
* {
  font-family: "Spoqa", sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@font-face {
  font-family: "Spoqa";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/SpoqaHanSansNeo-Regular.ttf");
}
@font-face {
  font-family: "Cafe";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Cafe24Moyamoya-Face-v1.0.ttf");
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
