.listCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid blue;
  width: 100vw;
  height: 75vh;
  gap: 30px;
  justify-content: center;
}

.list1 {
  display: flex;
}
.list2 {
  display: flex;
}
.list3 {
  display: flex;
}
.list4 {
  display: flex;
}
