.categoryTab {
  max-width: 1300px;
  width: 100%;
  height: 100px;
  position: relative;
  margin-top: 2%;
}
.categoryTab:hover {
  cursor: pointer;
}
.join {
  padding-right: 30px;
  font-size: 1.5rem;
  display: flex;
}
.end {
  padding-right: 30px;
  font-size: 1.5rem;
  display: flex;
}
