.listCardContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  width: 100vw;
  height: 75vh;
  row-gap: 1vw;
  gap: 50px;
  justify-content: space-between;
  box-sizing: border-box;
  align-content: center;
}
