.comments {
  width: 100%;
  /* border: 1px solid black; */
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.comments .dropdown {
  margin: 0 2rem;
  margin-left: auto;
}
.dropdown select {
  padding: 0.5rem;
  border-radius: 5px;
}
.comments .comm {
  margin: 0 2rem;
  height: 100px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1070px) {
    height: auto;
  }
}
.comm .info {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  margin: 0;
  gap: 1rem;
}
.comm .user {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* border: 1px solid pink; */
}
.comm .commcontent {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;

  align-items: center;
  margin: 0;
  padding: 0.5rem;
  gap: 1rem;
  border-bottom: 2px solid gray;
  /* border: 1px solid pink; */
  position: relative;
}
.replyIcon {
  position: absolute;
  right: 5rem;
  /* border: 1px solid pink; */

  padding: 0.5rem;
}
.comm .likes {
  /* border: 1px solid black; */
  margin-left: auto;

  text-align: center;
  display: flex;
  gap: 1rem;

  padding: 0.5rem;
}
.comments .reply {
  /* border: 1px solid orange; */

  padding: 1rem 0.5rem;
  margin: 0 1rem 0 3rem;
  /* height: 100px; */
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1070px) {
    height: auto;
  }
}
.reply .info {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  margin: 0;
  gap: 1rem;
}
.reply .user {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* border: 1px solid pink; */
}
.reply .commcontent {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin: 0 0 0 3rem;
  /* padding: 1rem 0.5rem; */
  gap: 1rem;
  /* border: 1px solid red; */

  border-bottom: 2px solid gray;
  @media screen and (max-width: 1070px) {
    flex-direction: column;
  }
}
.commcontent .reply {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
  margin: 0;
}
.reply .likes {
  /* border: 1px solid black; */
  margin-left: auto;

  text-align: center;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.comment {
  /* border: 1px solid black; */
  margin-left: auto;
  width: 100%;
  display: flex;
  flex-direction: row;

  margin-bottom: 1.5rem;
  @media screen and (max-width: 1070px) {
    margin-top: 1rem;
  }
}

.comment h2 {
  margin: 0 2rem;
}
.comment h3 {
  margin: 0.5rem 2rem;
  margin-top: 2rem;
  color: #86b6f6;
}
.comment textarea {
  width: 100%;

  height: 100px;
  margin: 0 1rem 0 0;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
}
.btnCon_2 {
  /* border: 1px solid red; */

  display: flex;
  /* flex-direction: column; */
  justify-content: center;

  align-items: center;
  /* gap: 1rem; */
  @media screen and (max-width: 1070px) {
    /* gap: 1rem; */

    margin-right: 0rem;

    /* justify-content: center; */
  }
}
.btnCon_2 button {
  width: 60px;

  margin-right: 0.5rem;
  /* border: 1px solid black; */
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: large;
  font-weight: 700;

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  gap: 0.5rem;
  @media screen and (max-width: 1070px) {
  }
}
.btnCon_2 .joinBtn {
  background-color: #86b6f6;
  color: white;
  @media screen and (max-width: 1070px) {
    margin-right: 1rem;
  }
}
.btnCon_2 .joinBtn_1 {
  background-color: #86b6f6;
  color: white;
  @media screen and (max-width: 1070px) {
    margin-right: 1rem;
  }
}
.btnCon_2 .deleteBtn {
  background-color: white;
  color: gray;
  @media screen and (max-width: 1070px) {
    margin-right: 1rem;
  }
}
