.listCard {
  margin: 10px 0 0 10px;
  width: 100%;
  height: 340px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid rgb(186, 186, 186);
}

.listCard:hover {
  cursor: pointer;
}

.listCardTitle {
  text-align: left;
  padding-top: 20px;
  padding-left: 3%;
  font-weight: 700;
  overflow: hidden;
}
.title {
  font-size: 17px;
}

.listCardMeetingDate {
  font-size: 1.25rem;
  padding-top: 2vh;
  text-align: left;
}
.listCardClosingDate {
  font-size: 1.25rem;
  text-align: left;
}

.nickName {
  display: inline;
}
.listCardCurrentCapacity {
  display: inline;
  margin-left: 70%;
  text-align: right;
}
.listCardMaxCapacity {
  display: inline;
  text-align: right;
}
