.listCard img {
  height: 10vh;
  width: 3vw;
  float: left;
  /* background-color: aliceblue; */
}
.listCard {
  margin: 10px 0 0 10px;
  height: 17vh;
  width: 14vw;
  /* border: 1px solid black; */
  /* text-align: center; */
  background-color: #b5ee63;
}

.listCardTitle {
  text-align: left;
  padding-top: 30px;
  padding-left: 6%;
  font-size: 1.25rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listCardContent {
  padding-top: 10px;
  padding-left: 7%;
  text-align: left;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bottomContents {
  display: flex;
  width: 100vh;
}
.listCardMeetingDate {
  font-size: 0.7rem;
  padding-top: 4vh;
}

.gotoPost {
  background-color: aqua;
}
.gotoPost:hover {
  cursor: pointer;
}
