/* 링크 밑줄 없애기, 실제 HTML에서는 <router-link>라는 태그를 <a> 태그로 인식 */
/* a {
  text-decoration: none;
  color: #000000;
} */

.header {
  /* background-image: url('../../images/11.png');
  background-size: 100% 100%;
  display: flex;
  height: 400px; */
  background-image: url("../../images/green_1.png");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 400px;
}

@media only screen and (max-width: 768px) {
  /* 768px 이하일 때의 스타일 조정 */
  .header {
    height: 150px; /* 필요에 따라 조절 */
  }
  /* 다른 요소들에 대한 반응형 스타일 조정 */
}

.logo {
  margin-left: 3%;
  font-size: 2.1rem;
  height: 45px;
  display: flex;
  font-family: "Cafe", sans-serif;
  cursor: pointer;
}

/* 새 글 쓰기, 로그인, 회원가입 버튼 관련 */
.loginElement {
  margin-top: 1%;
  padding-right: 10%;
  display: flex;
  gap: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.3rem;
  height: auto;
}

/* 검색창 관련 */
.search {
  display: flex;
  flex-direction: row;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  height: 35px;
  margin-top: 20px;
}
.search input {
  border: none;
  padding: 0.5rem;
  width: 75%;
}
.search .icon {
  width: 1.5rem;
  height: 1.5rem;
  color: black;
  margin-left: 0.5rem;
}
.search button {
  background-color: white;
}
