.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
  margin-right: 0.5rem;
  @media screen and (max-width: 1070px) {
    margin-top: 1rem;
    margin-right: 0rem;
  }
}
.info {
  color: black;
}
