/* MyEventCard.module.css */

/* .CardContainer{
    width:10vw;
    height:10vh;
    border: 2px solid yellow;
    background-color: rgb(92, 183, 252);
    display: flex; 
    flex-direction: column;
}
.CardImage{
    width:1vh;
    height:1vh;
}
.CardTitle{
    text-align: center;
}
.CardButton{
    border:1px solid green;
} */

/* MyEventCard.module.css */

.EventCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}
.EventCardMain{
    display: flex;
    flex-direction: row;
    border: 2px solid red;
}
  
  .EventTitleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem; 
    border: 2px solid black;
    border-radius: 5px;
    margin: 2rem;
  }
  
  .Title {
    font-size: 1.5rem; 
    font-weight: bold; 
  }
  
  /* 모집중 모집완료 */
  .Status {
    display: flex;
    font-size: 1rem; 
    border: 1px solid black;
    border-radius: 10px;
    width: 4vw;
    text-align: center;
    font-weight: bold; 
    align-items: center;
    justify-content: right;
  }
  
  /* .Img {
    width: 2vw; 
    height: 2vh; 
    margin-bottom: 5px; 
  } */
  
  .Date {
    font-size: 1rem; 
    margin-bottom: 5px; 
  }
  
