/* MyPosts.module.css */

.MyPostsContainer{
    width: 40vw;
    height: 120vh;
    border: 1px solid seagreen;
}

.MyPostsMSG{
    text-align: center;
    border: 1px solid rgb(93, 0, 255);
}

.PartyTitle {
    border: 1px solid #000; 
    border-radius: 5px;
    padding: 8px; 
    /* margin: 4px 0;  */
  }