.listCard {
  margin: 0px 12px;
  height: auto;
  width: 318px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid black;
}

.listCard:hover {
  cursor: pointer;
}

.listCardTitle {
  text-align: center;
  padding-top: 30px;
  padding-left: 3%;
  font-size: 1.7rem;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
}

.listCardMeetingDate {
  font-size: 1.25rem;
  padding-top: 2vh;
  text-align: center;
}
.listCardClosingDate {
  font-size: 1.25rem;
  text-align: center;
}
.listCardCurrentCapacity {
  display: inline;
  text-align: right;
}
.listCardMaxCapacity {
  display: inline;
  text-align: right;
}
