.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999; /* 스크롤바 옆에 표시되도록 z-index 값 조정 */
}

.scrollToTopButton:hover {
  background-color: #0056b3;
}
