.todoListSection {
  width: 15vw;
  max-width: 1200px; /* 추가: 최대 너비 설정 */
  height: 50%;
  text-align: center;
  position: relative;
  margin-top: 6%;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden; /* 추가: 내용이 넘칠 경우 숨김 처리 */
}
.todoTitle {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.25rem;
}

.todoList {
  font-weight: 600;
  padding-left: 0; /* 추가: 기본 패딩 제거 */
}

.todoList li {
  list-style-type: circle;
  width: 80%;
  font-size: 1.1rem;
  padding-left: 10%;
  margin: 0px 0; /* 추가: 각 아이템 간격 설정 */
  text-align: left;
}

.todoList li::marker {
  font-size: 40px;
  color: black;
}
