.todoListSection {
  /* background-color: beige; */
  width: 20vw;
  text-align: center;
  position: relative;
}
.todoTitle {
  margin-top: 30px;
  font-weight: 600;
  font-size: 1.25rem;
}

.todoList {
  width: 15vw;
  min-height: 10vh;
  border: 1px solid black;
  margin-left: 10%;
  margin-top: 10px;
  font-size: 1.25rem;
  display: block;
}
